@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700i&display=swap");

$red: #6eafc9;
$black:  #494745;


html,
body {
  padding: 0;
  margin: 0;
   
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  
}


.contact{
	width:100wh;
	height: 100vh;
	
  position: relative;
  

}
.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  
  .contact-header{
	  text-align: center;
	margin: 0;
	position: absolute;
	width: 20 rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	h1{
		font-weight: 500;
		font-size: 3rem;
		color:$black;
	}
	p{
		margin-bottom: 50px;
	}

  }
//   .form{
// 	display:flex;
// 	flex-direction:row;
//   }

//   input {
// 	box-sizing: border-box;
// 	  padding: 0.75rem 2rem;
// 	  width:80%;
//   }

// 

form {
	/* This bit sets up the horizontal layout */
	display:flex;
	flex-direction:row;
	margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom: 2rem;
	
	//align-items: center;
	//

  }
  
  input {
	/* Tell the input to use all the available space */
	flex-grow:2;
	border-radius:  8px 0px 0px 8px;
	box-sizing: border-box;
 	  padding: 0.75rem 2rem;
	  
	  background-color: #bdbdbd8a;
	/* And hide the input's outline, so the form looks like the outline */
	border:none;
  }
  
  input:focus {
	
	outline: none;
  }
  
  button {
	/* Just a little styling to make it pretty */
	outline: none;
	padding-left: 1rem;
	padding-right: 1rem;
	border: none;
	border-radius:  0px 8px 8px 0px;
	background:$red;
	color:white;
	
  }

}


.social-link{
	
	color:$black;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 30px;
}